@keyframes bubble {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-100vh);
        opacity: 0;
    }
}

body {
    font-family: Arial, sans-serif;
    background-image: url('https://source.unsplash.com/random');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    position: relative; 
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 40px;
    width: 350px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container input[type="submit"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.login-container input[type="submit"]:hover {
    background-color: #0056b3;
}

.login-container .signup-link {
    color: #333;
    margin-top: 15px;
    display: inline-block;
    text-decoration: none;
}

.login-container .signup-link:hover {
    color: #007bff;
}

.bubble {
    position: absolute;
    bottom: 0;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    animation: bubble 5s linear infinite;
}

.bubble:nth-child(1) {
    left: 10%;
    animation-delay: 0s;
}

.bubble:nth-child(2) {
    left: 25%;
    animation-delay: 1s;
}

.bubble:nth-child(3) {
    left: 40%;
    animation-delay: 2s;
}

.bubble:nth-child(4) {
    left: 55%;
    animation-delay: 3s;
}

.bubble:nth-child(5) {
    left: 70%;
    animation-delay: 4s;
}

.bubble:nth-child(6) {
    left: 85%;
    animation-delay: 5s;
}

.campo {
    position: relative;
  }
  
  .campo span {
    position: absolute;
    right: 5px;
    top: 39px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 2px 10px;
    background-color: #dadada;
  }
  
  .campo .toggle-button i {
    font-size: 12px;
  }